#fullpage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#fullpage > .section {
  height: 100%;
  scroll-snap-align: start;
}

#start {
}

#start > #content {
  direction: rtl;
}
