<div
  class="w-full h-full bg-gray-100 flex flex-col justify-end"
  id="body"
  [ngStyle]="{ 'background-image': 'url(' + post.imageUrl + ')' }"
  *ngIf="post.imageUrl != '' && post.imageUrl != 'null'"
>
  <div class="relative p-4 pb-8 pt-48" id="content">
    <div class="mb-2 flex items-center gap-2 z-50">
      @for (category of categories; track category; let index = $index) {
      <p
        class="bg-white p-0.5 px-2 rounded-lg text-black font-light text-sm z-50"
      >
        {{ category }}
      </p>
      }
      <p class="text-white font-bold text-sm z-50" *ngIf="countries.length > 0">
        X
      </p>
      @for (country of countries; track country; let index = $index) {
      <p
        class="bg-white p-0.5 px-2 rounded-lg text-black font-light text-sm z-50"
      >
        {{ country }}
      </p>
      }
    </div>
    <h1 class="text-white text-4xl z-50 relative font-bold mb-1">
      {{ post.title }}
    </h1>
    <p class="text-white text-xl z-50 relative line-clamp-6">
      {{ post.text }}
    </p>
    <p class="text-gray-400 text-xs z-50 relative">- {{ this.source }}</p>
    <div class="flex items-center gap-2 mt-4">
      <div
        class="flex flex-col items-center justify-center bg-[#ffffff1c] rounded-md p-1 px-4 z-50 shadow-2xl cursor-pointer"
        (click)="analize()"
      >
        <img src="ai.svg" class="w-6 z-50" />
        <p class="text-xs text-white">تحليل</p>
      </div>
    </div>
  </div>
</div>

<div
  class="w-full h-full bg-white flex flex-col justify-center"
  id="body"
  [ngStyle]="{ 'background-image': 'url(' + post.imageUrl + ')' }"
  *ngIf="post.imageUrl == '' || post.imageUrl == 'null'"
>
  <div
    class="relative p-4 px-6 h-full flex flex-col justify-center text-center items-center"
    id="content_text"
  >
    <div class="mb-2 flex items-center gap-2">
      @for (category of categories; track category; let index = $index) {
      <p
        class="bg-gray-100 p-0.5 px-2 rounded-lg text-gray-500 font-light text-sm"
      >
        {{ category }}
      </p>

      }
      <p
        class="text-gray-500 font-bold text-sm z-50"
        *ngIf="countries.length > 0"
      >
        X
      </p>
      @for (country of countries; track country; let index = $index) {
      <p
        class="bg-gray-100 p-0.5 px-2 rounded-lg text-gray-500 font-light text-sm"
      >
        {{ country }}
      </p>
      }
    </div>
    <h1 class="text-gray-600 text-4xl z-50 relative font-bold mb-1">
      {{ post.title }}
    </h1>
    <p class="text-gray-400 text-xl z-50 relative line-clamp-6">
      {{ post.text }}
    </p>
    <p class="text-gray-400 text-xs z-50 relative">- {{ this.source }}</p>
    <div class="flex items-center gap-2 mt-4">
      <div
        class="flex flex-col items-center justify-center bg-[#ffffff1c] rounded-md p-1 px-4 z-50 shadow-2xl cursor-pointer"
        (click)="analize()"
      >
        <img src="ai.svg" class="w-6 z-50" />
        <p class="text-xs text-gray-600">تحليل</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAnalysis" class="panel">
  <div class="content">
    <app-analysis
      [post]="post"
      (closeClickedEvent)="analysisPanelCloseClicked($event)"
    >
    </app-analysis>
  </div>
</div>
