<div
  id="head"
  class="pb-2 mb-4 border-b-2 border-solid border-gray-100 flex items-center gap-2"
>
  <img
    src="close.svg"
    class="w-6 cursor-pointer"
    (click)="closeClickHandler()"
  />
  <p class="font-bold text-lg">تفضيلات المستخدم</p>
</div>

<div class="flex flex-col gap-2">
  <div class="border-b-2 border-solid border-gray-50 pb-4 mb-4 pt-4">
    <div class="flex items-center gap-2 cursor-pointer">
      <img src="news.svg" class="w-6" />
      <p class="font-bold text-md">تفضيلات الاخبار (اضغط للتعديل)</p>
      <app-loader *ngIf="isPrefsLoading" [inBtn]="true"></app-loader>
    </div>
    <div class="flex items-center gap-2 mt-2 mb-2 flex-wrap">
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showPoliticsPrefs = true"
      >
        سياسة ({{ politicsCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showSportsPrefs = true"
      >
        رياضة ({{ sportsCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showCulturePrefs = true"
      >
        ثقافة ({{ cultureCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showEconomicsPrefs = true"
      >
        اقتصاد ({{ economicsCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showEntertainmentPrefs = true"
      >
        ترفيه ({{ entertainmentCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showSciencePrefs = true"
      >
        علوم ({{ scienceCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showBusinessPrefs = true"
      >
        أعمال ({{ businessCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showTechnologyPrefs = true"
      >
        تكنولوجيا ({{ technologyCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showLegalPrefs = true"
      >
        قانون ({{ legalCountries.length }})
      </p>
      <p
        class="p-1 px-2 bg-gray-100 rounded-md cursor-pointer shrink-0"
        (click)="showGeneralPrefs = true"
      >
        عام ({{ generalCountries.length }})
      </p>
    </div>
  </div>
  <div class="flex items-center gap-2 cursor-pointer" (click)="logout()">
    <img src="logout.svg" class="w-6" />
    <p class="text-md">تسجيل الخروج</p>
    <app-loader *ngIf="isUserLoading" [inBtn]="true"></app-loader>
  </div>
</div>

<!-- pop ups-->
<div *ngIf="showPoliticsPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="politicsCountriesSelectionChange($event)"
      (closeClickedEvent)="showPoliticsPrefs = false"
      [topic]="'سياسة'"
      [inputCountries]="politicsCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showSportsPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="sportsCountriesSelectionChange($event)"
      (closeClickedEvent)="showSportsPrefs = false"
      [topic]="'رياضة'"
      [inputCountries]="sportsCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showCulturePrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="cultureCountriesSelectionChange($event)"
      (closeClickedEvent)="showCulturePrefs = false"
      [topic]="'ثقافة'"
      [inputCountries]="cultureCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showEconomicsPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="economicsCountriesSelectionChange($event)"
      (closeClickedEvent)="showEconomicsPrefs = false"
      [topic]="'اقتصاد'"
      [inputCountries]="economicsCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showEntertainmentPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="entertainmentCountriesSelectionChange($event)"
      (closeClickedEvent)="showEntertainmentPrefs = false"
      [topic]="'ترفيه'"
      [inputCountries]="entertainmentCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showSciencePrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="scienceCountriesSelectionChange($event)"
      (closeClickedEvent)="showSciencePrefs = false"
      [topic]="'علوم'"
      [inputCountries]="scienceCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showBusinessPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="businessCountriesSelectionChange($event)"
      (closeClickedEvent)="showBusinessPrefs = false"
      [topic]="'أعمال'"
      [inputCountries]="businessCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showTechnologyPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="technologyCountriesSelectionChange($event)"
      (closeClickedEvent)="showTechnologyPrefs = false"
      [topic]="'تكنولوجيا'"
      [inputCountries]="technologyCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showLegalPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="legalCountriesSelectionChange($event)"
      (closeClickedEvent)="showLegalPrefs = false"
      [topic]="'قانون'"
      [inputCountries]="legalCountries"
    >
    </app-countrySelector>
  </div>
</div>

<div *ngIf="showGeneralPrefs" class="popup">
  <div class="popup_content">
    <app-countrySelector
      (okClickedEvent)="generalCountriesSelectionChange($event)"
      (closeClickedEvent)="showGeneralPrefs = false"
      [topic]="'عام'"
      [inputCountries]="generalCountries"
    >
    </app-countrySelector>
  </div>
</div>
