<div
  id="head"
  class="pb-2 mb-4 border-b-2 border-solid border-gray-100 flex items-center gap-2"
>
  <img
    src="close.svg"
    class="w-6 cursor-pointer"
    (click)="closeClickHandler()"
  />
  <p class="font-bold text-lg">تفضيلات الدول للتصنيف: {{ topic }}</p>
</div>

<div class="flex flex-col gap-2 max-h-[50vh] overflow-scroll mb-2">
  <div class="flex items-center gap-2 flex-wrap">
    @for (country of countryList; track country.code; let index = $index) {
    <p
      class="p-1 px-2 bg-gray-50 rounded-md cursor-pointer border-solid border-2"
      [ngClass]="
        isCountrySelected(country.code) ? 'border-gray-800' : 'border-gray-50'
      "
      (click)="toggleCountrySelection(country)"
    >
      {{ country.name }}
    </p>
    }
  </div>
</div>

<button
  (click)="okClickHandler()"
  class="z-50 bg-black p-2 px-6 rounded-lg font-bold text-white text-center flex items-center gap-2 cursor-pointer w-full justify-center"
>
  متابعة
</button>
